body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(115, 83, 83, 0.441);
    border-radius: 20px;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
}

h2 {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(4px);
    transform: translateX(-50%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

.team-member img {
    width: 170px;
    border-radius: 10%;
    height: auto;
    margin: 0 .5rem;
    transition: transform 0.3s ease;
}

.team-member img:hover {
    transform: scale(1.1);
}

footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    padding: 20px;
}

.team-member {
    padding: 50px;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    width: 30px;
    height: auto;
    margin: 0 .5rem;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.5);
}
